.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 50px;
  background-color: rgb(223, 222, 222);
}
.child {
  height: 75px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: white;
  border-radius: 2px;
}
.top {
  display: flex;
  justify-content: start;
  align-items: start;
  height: 36px;
  width: 43px;
  background-color: rgba(236, 193, 193, 0.336);
  border-radius: 2px;
  background-image: url(image.png);
  background-size: cover;
  margin-top: 1px;
}
.bottom {
    display: flex;
  justify-content: center;
  align-items: end;
  height: 10px;
  width: 43px;
  background-color: rgba(236, 193, 193, 0.336);
  border-radius: 2px;
  margin-top: 1px;
}
